.textAnimation{text-shadow: 0 0 15px currentColor;}

.cursorAnimation{
    animation: cursorExpand 1.3s infinite ease-in-out;
    transform: scaleY(.8);
}

@keyframes cursorExpand {
    0%{opacity: 0;}
    35%{opacity: 1;}
    70%{opacity: 0;}
    100%{opacity: 0;}
}