h2::before{
    content: " ";
    color: white;
    top: 10%;
    right: -.5rem;
    height: 80%;
    position: absolute;
    border: 1px solid white;
    animation: {name: cursorExpand; duration: .8s; iteration-count: infinite;};
}

@keyframes cursorExpand {
    0%{opacity: 0;}
    35%{opacity: 1;}
    70%{opacity: 0;}
    100%{opacity: 0;}
}