<app-nav class="relative z-100"></app-nav>
<app-main class="w-screen h-screen overflow-x-hidden overflow-y-scroll"></app-main>
<main>
    <section class="w-screen h-[300vh] bg-eerie-black">
        <div id="aboutMe" class="w-full h-[90vh] py-12 px-10 overflow-hidden sticky top-0 left-0">
            <div
                class="scrollContainer w-[500vh] h-full grid grid-cols-[repeat(3,minmax(75vw,1fr))] grid-rows-[minmax(0,100%)] gap-14">
                @defer (on viewport) {
                <app-about-me id="music" [url]="'../../../assets/img/note.png'" [alt]="'Imagen de nota musical'"
                    [color]="'#EDD382'" [tittle]="'Música'" [descrip]="descri"
                    class="w-full h-full flex flex-row items-center justify-between shadow-[0_5px_0] shadow-flax border-[2px] border-flax rounded-lg"></app-about-me>
                } @placeholder { <p>.</p> } @error { <p>Error</p> }
                @defer (on viewport) {
                <app-about-me id="design" [url]="'../../../assets/img/design.png'"
                    [alt]="'Imagen de ilustración de diseño'" [color]="'#E87461'" [tittle]="'Diseño'" [descrip]="descri"
                    class="w-full h-full flex flex-row items-center justify-between shadow-[0_5px_0] shadow-bitter-sweet border-[2px] border-bitter-sweet rounded-lg"></app-about-me>
                } @placeholder { <p>.</p> } @error { <p>Error</p> }
                @defer (on viewport) {
                <app-about-me id="code" [url]="'../../../assets/img/code.png'" [alt]="'Imagen de icono de programador'"
                    [color]="'#275DAD'" [tittle]="'Codigo'" [descrip]="descri"
                    class="w-full h-full flex flex-row items-center justify-between shadow-[0_5px_0] shadow-blue-neon border-[2px] border-blue-neon rounded-lg"></app-about-me>
                } @placeholder { <p>.</p> } @error { <p>Error</p> }
            </div>
        </div>
    </section>
    <section id="proyects">
        @defer (on viewport) {
            <app-proyects class="w-screen flex items-center flex-col overflow-x-hidden overflow-y-scroll"></app-proyects>
        }
        @placeholder { <p>.</p> }
        @error { <p>Ha ocurrido un error</p> }
    </section>
    <section>
        @defer (on viewport) {
            <app-skills class="w-screen h-80 flex items-center bg-eerie-black flex-col overflow-x-hidden overflow-y-scroll"></app-skills>
        }
        @placeholder { <p>.</p> }
        @error { <p>Ha ocurrido un error</p> }
    </section>
</main>