<div class="w-full h-full rounded-xl p-14">
    <app-text-animated></app-text-animated>
    <a href="#" id="btnAboutMe"
        class="w-[50%] h-10 relative mt-8 tracking-[.2rem] p-[.2rem_.2rem_.2rem_1rem] font-Inconsolata font-[700] flex flex-row justify-between items-center text-blue-neon border border-blue-neon rounded-lg">
        Conoceme
        <span class="aspect-square absolute top-1 right-1 rounded-lg bg-blue-neon shadow-[0_0_8_currentColor] flex justify-center items-center">
            <i class="las la-arrow-right text-white translate-x-[.1rem]"></i>
        </span>
    </a>
</div>