<div
    class="min-w-[80%] h-full p-14 before:content-[''] before:top-0 before:backdrop-blur before:left-0 before:absolute before:w-full before:h-full before:bg-white before:opacity-5 before:rounded-xl">
    <app-text-animated class="relative z-10 block h-[13.5rem]"></app-text-animated>
    <a href="#" id="btnAboutMe"
        class="w-[12rem] h-10 relative mt-8 mb-4 tracking-[.2rem] p-[.2rem_.2rem_.2rem_1rem] font-Inconsolata font-[700] flex flex-row justify-between items-center text-blue-neon border border-blue-neon rounded-lg">
        Conoceme
        <span
            class="w-9 aspect-square absolute top-1 right-1 rounded-lg bg-blue-neon shadow-[0_0_8px_currentColor] flex justify-center items-center">
            <i class="las la-arrow-right text-white translate-x-[.1rem]"></i>
        </span>
    </a>
    <a href="#" class="text-4xl cursor-pointer mr-2 aspect-square text-blue-neon">
        <i class="lab la-github drop-shadow-[0_0_5px_currentColor]"></i>
    </a>
    <a href="#" class="text-4xl cursor-pointer aspect-square text-blue-neon">
        <i class="lab la-linkedin-in drop-shadow-[0_0_5px_currentColor]"></i>
    </a>
</div>