#btnAboutMe {
    box-shadow: -3px 3px 0 2px currentColor;
    transform: translate(3px, -3px);
    transition: all .3s ease-in-out .2s;

    span {
        height: calc(100% - .5rem);
        transition: all .2s ease-in-out 0s;

        font: {
            family: 'Line Awesome Free';
            weight: 900;
        }
    }

    &:hover {
        box-shadow: none;
        transition: all .3s ease-in-out 0s;
        transform: translate(0);
        span {
            top: 0;
            right: 0;
            height: 2.5rem;
            width: 100%;
            transition: all .2s ease-in-out .2s;
        }
    }
}