@import '../../styles/variables.scss';

.container {
    color: black;
    background: $flax;
    border-radius: 1rem;
    border: 3px solid $bitter-sweet;
    box-shadow: 5px 5px 0 $bitter-sweet;
}

.btn-nav {
    width: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    transition: all .5s;
    border: .5px solid transparent;

    p {
        left: 0;
        top: 20%;
        opacity: 0;
        padding: 0 1rem;
        text-align: end;
        text-wrap: nowrap;
        position: absolute;
        transition: all .4s;
        color: $bitter-sweet;
        transform: translateX(-100%);

        font: {
            family: $Inconsolata;
            weight: bold;
        }

        ;
    }

    &:hover {
        p {opacity: 1;}
        border-color: $white;
    }
}


.menuActive {
    opacity: 1;
    height: 9rem;
}

.btnMenuActive {
    transform: rotateZ(90deg);
    background: $bitter-sweet;

    .m,
    .x {
        transition: all .5s;
    }

    .m {
        display: none;
        opacity: 0;
    }

    .x {
        display: block;
        opacity: 1;
    }
}

.secBtnMenuActive {
    background: $flax;
    color: $eerie-black;
}