<header
    class="w-screen h-screen py-12 px-24 bg-alice-blue relative flex justify-between flex-col [&>i]:absolute [&>i]:z-0 [&>i]:cursor-pointer [&>i]:text-5xl">
    <nav
        class="w-full bg-alice-blue px-12 py-3 flex flexr-row justify-between sticky top-0 left-0 border-[2px] border-blue-neon rounded-lg shadow-[0px_5px_0] shadow-blue-neon">
        <a href="/" class="font-kanit font-[700] text-xl text-blue-neon">SAMUEL✨</a>
        <ul class="flex flex-row gap-x-6 font-kanit font-[300] [&>li]:flex [&>li]:items-center">
            <li class=""><a href="" class="">Inicio</a></li>
            <li class=""><a href="" class="">Sobre mi</a></li>
            <li class=""><a href="" class="">Habilidades</a></li>
        </ul>
    </nav>
    <div class="w-full flex flex-row justify-between items-center">
        <app-card-info-main class="max-w-[50%] relative flex justify-center items-center translate-x-[7.5px]"></app-card-info-main>
        <picture [ngStyle]="{ borderColor: color, color: color}"
            class="rounded-3xl translate-x-[-7px] shadow-[0px_5px_0] shadow-blue-neon border-2 overflow-hidden flex justify-center items-center relative">
            <div class="info h-[50%] transition-transform duration-150 ease-in-out bg-blue-neon absolute top-0 left-0 w-full flex flex-col justify-start items-center">
                <h5 class="font-kanit font-[700] text-alice-blue">Samuel Sarmiento</h5>
                <p class="font-kanit font-[700] text-alice-blue">Samuel Sarmiento</p>
                <i class="las la-angle-down"></i>
            </div>
            <img class="transition-[filter] ease-in-out duration-300" src="../../../assets/img/photo.avif" alt="Foto de Samuel Sarmiento">
        </picture>
    </div>

    <!-- <i class="lab la-angular top-[14vw] left-[] right-[32vw] bottom-[]"></i>
    <i class="lab la-js-square top-[] left-[32vw] right-[5vw] bottom-[]"></i>
    <i class="lab la-node-js top-[25vw] left-[] right-[5vw] bottom-[]"></i>
    <i class="lab la-npm top-[91vw] left-[25vw] right-[] bottom-[]"></i>
    <i class="lab la-html5 top-[25vw] left-[] right-[25vw] bottom-[]"></i>
    <i class="las la-code top-[] left-[] right-[1.25rem] bottom-[1.25rem]"></i> -->
</header>
<!-- HTML -->
<!-- Angular -->
<!-- Linkedin -->
<!-- <i class="lab la-linkedin-in"></i> -->
<!-- <i class="lab la-github"></i> -->
<!-- JavaScript -->
<!-- Arrow Right -->
<!-- <i class="las la-arrow-right"></i> -->
<!-- \f061 -->
<!--NodeJs -->
<!-- Github -->
<!-- Code -->
<!-- npm -->